### 读取所有数据

In [1]:
import pandas as pd
import glob
import numpy as np
# 获取ROAD文件夹下所有CSV文件的路径
csv_files = glob.glob('./*.csv')

# 使用列表推导式读取所有文件并存储在列表中，尝试使用不同的编码
dataframes = []
for file in csv_files:
    try:
        df = pd.read_csv(file)
    except UnicodeDecodeError:
        df = pd.read_csv(file, encoding='latin1')  # 尝试使用Latin-1编码
    dataframes.append(df)

In [2]:
# 合并所有DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# 显示合并后的DataFrame的信息，如需
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453835 entries, 0 to 1453834
Data columns (total 51 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   1694    152303 non-null   float64
 1   4       311860 non-null   float64
 2   64      410217 non-null   float64
 3   4.1     152303 non-null   float64
 4   126     62285 non-null    float64
 5   31      257558 non-null   float64
 6   192     99861 non-null    float64
 7   21      152303 non-null   float64
 8   66      152303 non-null   float64
 9   0.0     1453835 non-null  float64
 10  263     324556 non-null   float64
 11  0       1391550 non-null  float64
 12  0.1     1159285 non-null  float64
 13  0.2     773404 non-null   float64
 14  0.3     521689 non-null   float64
 15  0.4     521689 non-null   float64
 16  0.5     521689 non-null   float64
 17  0.6     521689 non-null   float64
 18  0.7     324556 non-null   float64
 19  124     90018 non-null    float64
 20  32      655024 non-null   float64
 21  852     331124 non-null   float64
 22  50      62641 non-null    float64
 23  5       62641 non-null    float64
 24  168     62641 non-null    float64
 25  128     637596 non-null   float64
 26  51      57140 non-null    float64
 27  7       57140 non-null    float64
 28  15      57140 non-null    float64
 29  7.1     57140 non-null    float64
 30  208     57140 non-null    float64
 31  255     337520 non-null   float64
 32  3       337520 non-null   float64
 33  227     195273 non-null   float64
 34  412     127967 non-null   float64
 35  24      127967 non-null   float64
 36  230     127967 non-null   float64
 37  2       201177 non-null   float64
 38  40      127967 non-null   float64
 39  737     159557 non-null   float64
 40  1176    121365 non-null   float64
 41  132     121365 non-null   float64
 42  251     121365 non-null   float64
 43  1       121365 non-null   float64
 44  10      73210 non-null    float64
 45  116     73210 non-null    float64
 46  526     142247 non-null   float64
 47  78      142247 non-null   float64
 48  160     142247 non-null   float64
 49  63      142247 non-null   float64
 50  239     142247 non-null   float64
dtypes: float64(51)
memory usage: 565.7 MB
None

In [3]:
combined_df.columns

Index(['1694', '4', '64', '4.1', '126', '31', '192', '21', '66', '0.0', '263',
       '0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '124', '32',
       '852', '50', '5', '168', '128', '51', '7', '15', '7.1', '208', '255',
       '3', '227', '412', '24', '230', '2', '40', '737', '1176', '132', '251',
       '1', '10', '116', '526', '78', '160', '63', '239'],
      dtype='object')

合并'label', 'category', 'specific_class'列

In [22]:
combined_df['Label'] = combined_df.apply(lambda row: ' '.join([str(row['label']), str(row['category']), str(row['specific_class'])]), axis=1)
combined_df.drop(['label', 'category', 'specific_class'], axis=1, inplace=True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1408219 entries, 0 to 1408218
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   ID      1408219 non-null  int64
 1   DATA_0  1408219 non-null  int64
 2   DATA_1  1408219 non-null  int64
 3   DATA_2  1408219 non-null  int64
 4   DATA_3  1408219 non-null  int64
 5   DATA_4  1408219 non-null  int64
 6   DATA_5  1408219 non-null  int64
 7   DATA_6  1408219 non-null  int64
 8   DATA_7  1408219 non-null  int64
 9   Label   1408219 non-null  object
dtypes: int64(9), object(1)
memory usage: 107.4+ MB

查看合并以后的类别情况。

In [24]:
# 查看 'Label' 列的所有唯一值及其出现次数
label_counts = combined_df['Label'].value_counts()

# 打印结果
print(label_counts)

BENIGN BENIGN BENIGN              1223737
ATTACK DoS DoS                      74663
ATTACK SPOOFING RPM                 54900
ATTACK SPOOFING SPEED               24951
ATTACK SPOOFING STEERING_WHEEL      19977
ATTACK SPOOFING GAS                  9991
Name: Label, dtype: int64

In [26]:
combined_df.columns

Index(['ID', 'DATA_0', 'DATA_1', 'DATA_2', 'DATA_3', 'DATA_4', 'DATA_5',
       'DATA_6', 'DATA_7', 'Label'],
      dtype='object')

In [25]:
combined_df.describe()

,ID,DATA_0,DATA_1,DATA_2,DATA_3,DATA_4,DATA_5,DATA_6,DATA_7
count,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06
mean,5.372079e+02,7.108660e+01,6.998925e+01,5.501127e+01,5.745364e+01,4.528517e+01,5.388261e+01,7.174914e+01,6.027477e+01
std,3.224800e+02,8.897717e+01,9.558374e+01,7.276584e+01,9.032077e+01,6.445835e+01,9.433612e+01,1.016872e+02,9.996547e+01
min,6.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.570000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.160000e+02,1.600000e+01,1.200000e+01,1.300000e+01,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,5.780000e+02,1.270000e+02,1.280000e+02,1.250000e+02,9.200000e+01,8.600000e+01,6.300000e+01,1.380000e+02,8.000000e+01
max,1.438000e+03,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02

检查ID列的情况

In [27]:
if combined_df['ID'].is_unique:
    print("ID is unique.")
else:
    print("ID is not unique. Further investigation needed.")

ID is not unique. Further investigation needed.

结果显示，ID为非唯一的，因此这里不用作训练列数，防止模型过拟合。

In [28]:
if 'ID' in combined_df.columns:
    combined_df = combined_df.drop('ID', axis=1)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1408219 entries, 0 to 1408218
Data columns (total 9 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   DATA_0  1408219 non-null  int64
 1   DATA_1  1408219 non-null  int64
 2   DATA_2  1408219 non-null  int64
 3   DATA_3  1408219 non-null  int64
 4   DATA_4  1408219 non-null  int64
 5   DATA_5  1408219 non-null  int64
 6   DATA_6  1408219 non-null  int64
 7   DATA_7  1408219 non-null  int64
 8   Label   1408219 non-null  object
dtypes: int64(8), object(1)
memory usage: 96.7+ MB

数据归一化

In [29]:
from sklearn.preprocessing import MinMaxScaler

# 创建归一化器实例
scaler = MinMaxScaler()

# 归一化'DATA_0'到'DATA_7'这些列
data_columns = ['DATA_0', 'DATA_1', 'DATA_2', 'DATA_3', 'DATA_4', 'DATA_5', 'DATA_6', 'DATA_7']
combined_df[data_columns] = scaler.fit_transform(combined_df[data_columns])

In [30]:
combined_df.describe()

,DATA_0,DATA_1,DATA_2,DATA_3,DATA_4,DATA_5,DATA_6,DATA_7
count,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06
mean,2.787710e-01,2.744676e-01,2.157305e-01,2.253084e-01,1.775889e-01,2.113044e-01,2.813692e-01,2.363716e-01
std,3.489301e-01,3.748382e-01,2.853562e-01,3.541991e-01,2.527778e-01,3.699456e-01,3.987733e-01,3.920214e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,6.274510e-02,4.705882e-02,5.098039e-02,0.000000e+00,2.352941e-02,0.000000e+00,0.000000e+00,0.000000e+00
75%,4.980392e-01,5.019608e-01,4.901961e-01,3.607843e-01,3.372549e-01,2.470588e-01,5.411765e-01,3.137255e-01
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [34]:
combined_df.head()

,DATA_0,DATA_1,DATA_2,DATA_3,DATA_4,DATA_5,DATA_6,DATA_7,Label
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,ATTACK DoS DoS
1,0.054902,0.043137,0.015686,0.015686,0.011765,0.011765,0.031373,0.047059,ATTACK DoS DoS
2,0.054902,0.043137,0.015686,0.015686,0.011765,0.011765,0.031373,0.047059,ATTACK DoS DoS
3,0.054902,0.043137,0.015686,0.015686,0.011765,0.011765,0.031373,0.047059,ATTACK DoS DoS
4,0.054902,0.043137,0.015686,0.015686,0.011765,0.011765,0.031373,0.047059,ATTACK DoS DoS

对数据进行放缩，将其转为[0,255]的形式

In [36]:
from sklearn.preprocessing import QuantileTransformer
# Transform all features into the scale of [0,1]
numeric_features = combined_df.dtypes[combined_df.dtypes != 'object'].index
scaler = QuantileTransformer() 
combined_df[numeric_features] = scaler.fit_transform(combined_df[numeric_features])

In [37]:
# Multiply the feature values by 255 to transform them into the scale of [0,255]
combined_df[numeric_features] = combined_df[numeric_features].apply(
    lambda x: (x*255))

In [38]:
combined_df.describe()

,DATA_0,DATA_1,DATA_2,DATA_3,DATA_4,DATA_5,DATA_6,DATA_7
count,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06,1.408219e+06
mean,1.159415e+02,1.090081e+02,1.133562e+02,9.511913e+01,1.022382e+02,9.725848e+01,9.523261e+01,8.323352e+01
std,9.096800e+01,9.779881e+01,8.999221e+01,1.019489e+02,9.677039e+01,1.044887e+02,1.015058e+02,1.065898e+02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.272447e+02,1.271171e+02,1.287763e+02,0.000000e+00,1.248198e+02,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.902928e+02,1.943769e+02,1.896547e+02,1.937387e+02,1.896547e+02,1.877402e+02,1.913138e+02,1.897823e+02
max,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02

In [40]:
# 查看 'Label' 列的所有唯一值及其出现次数
label_counts = combined_df['Label'].value_counts()

# 打印结果
print(label_counts)

BENIGN BENIGN BENIGN              1223737
ATTACK DoS DoS                      74663
ATTACK SPOOFING RPM                 54900
ATTACK SPOOFING SPEED               24951
ATTACK SPOOFING STEERING_WHEEL      19977
ATTACK SPOOFING GAS                  9991
Name: Label, dtype: int64

对数据进行分类

In [41]:
df0=combined_df[combined_df['Label']=='BENIGN BENIGN BENIGN'].drop(['Label'],axis=1)
df1=combined_df[combined_df['Label']=='ATTACK DoS DoS'].drop(['Label'],axis=1)
df2=combined_df[combined_df['Label']=='ATTACK SPOOFING RPM'].drop(['Label'],axis=1)
df3=combined_df[combined_df['Label']=='ATTACK SPOOFING SPEED'].drop(['Label'],axis=1)
df4=combined_df[combined_df['Label']=='ATTACK SPOOFING STEERING_WHEEL'].drop(['Label'],axis=1)
df5=combined_df[combined_df['Label']=='ATTACK SPOOFING GAS'].drop(['Label'],axis=1)

将数据集转为32*32*3的图像形式

In [5]:
import numpy as np
from PIL import Image
import os

image_path = "./train/0/"
os.makedirs(image_path, exist_ok=True)

needed_pixels = 32 * 32 * 3

# 检查数据是否为4的整数倍
remaining_rows = len(df) % 4
start_index = 0

while start_index < len(df):
    if start_index + 4 > len(df):
        # 如果剩余数据不足4条，从前面取足够的数据填充
        extra_needed = 4 - remaining_rows
        data_block = np.concatenate([df.iloc[start_index:start_index + remaining_rows].values.flatten(),
                                     df.iloc[start_index - extra_needed:start_index].values.flatten()])
    else:
        # 正常情况下获取4条数据
        data_block = df.iloc[start_index:start_index + 4].values.flatten()
    
    repeated_data = np.tile(data_block, needed_pixels // len(data_block) + 1)[:needed_pixels]
    image_data = repeated_data.reshape((32, 32, 3))
    image_data = np.array(image_data, dtype=np.uint8)
    new_image = Image.fromarray(image_data)
    new_image.save(os.path.join(image_path, f'{start_index // 4}.png'))

    start_index += 4

KeyboardInterrupt: